* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  height: 167px;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}
h1,
h2 {
  position: absolute;
  color: #ffffff;
}
h1 {
  top: 35px;
  left: 50px;
}
h2 {
  top: 60px;
  left: 50px;
  margin-top: 50px;
  padding: 20px;
}
