* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

.hero {
  height: 167px;
  background-image: url("/images/buger-bg.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 30px;
}

h1,
h2 {
  color: #ffffff;
}
h2 {
  font-size: 22.42px;
}
