* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dedede;
  min-width: 320px;
}

.hero {
  height: 10rem;
  background-image: url("/images/buger-bg.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 2rem;
  margin-bottom: 10px;
}

h1,
h2 {
  color: #ffffff;
}
h2 {
  font-size: 22.42px;
}
.menu-data {
  padding: 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 575px;
  padding-bottom: 30px;
  border-bottom: 3px solid #d2d2d2;
  margin: 30px auto 0 auto;
  height: 14dvh;
}
.item-info {
  flex: 1;
  margin-left: 1rem;
}
.item-icon {
  font-size: 4.875rem;
}
.item-name {
  font-size: 28px;
}
.item-ingr {
  color: #8b8b8b;
}
.item-price {
  font-size: 20px;
}
.add {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 32px;
  border: 1px solid #8b8b8b;
  background: transparent;
}
